h1 { 
    text-align: center;
    color: brown;
    background-color: bisque;
}
p {
    font-weight: bold;
}
h2 {
    font-style: italic;
    color: blue;
}
img {
    width: 500px;
    height: 338px;
    margin-bottom: 50px;
}
li {
    margin-bottom: 20px;
    color: chocolate;
}
.text {
color: red;
background-color: bisque;
}
